[Unit]
Description=Node.js Example Server

[Service]
ExecStartPre=sudo /usr/bin/node /home/pi/riddler/riddler-station/service/prestart.js
ExecStart=sudo /usr/bin/node /home/pi/riddler/riddler-station/index.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=riddler
#User=<alternate user>
#Group=<alternate group>


[Install]
WantedBy=multi-user.target
