[Unit]
Description=Node.js Example Server

[Service]
ExecStartPre=node /~/riddler/riddler-station/service/prestart.js
ExecStart=node /~/riddler/riddler-station/index.js
Restart=always
RestartSec=1                       # Restart service after 10 seconds if node service crashes
StandardOutput=syslog               # Output to syslog
StandardError=syslog                # Output to syslog
SyslogIdentifier=riddler
#User=<alternate user>
#Group=<alternate group>
Environment=NODE_ENV=production PORT=5000

[Install]
WantedBy=multi-user.target